

:root {
  --bg-default: #ffffff; 
  --bg-secondary: #F5F7F9;

  --primary-50: #F7FCFD;
  --primary-100: #E0E9EB;
  --primary-200: #97d9e8;
  --primary-300: #70c9de;
  --primary-400: #4cb9d3;
  --primary-500: #308aa0;
  --primary-600: #257d9e;
  --primary-700: #144f5c;
  --primary-800: #053640;
  --primary-900: #001419;

  --text-blue: #228BE6;


  --border-color: #ccc;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 16px;
}

.dynamic-form {
    font-size: 1rem;
}

.form-h1 {
    color: var(--primary-600);
}
.form-h2 {
    color: var(--primary-700);
}



.form-field {
    margin-bottom: 1rem;
}

.form-buttons {
    display: flex;
    gap: 1rem;
}

.form-buttons button {
    font-size: 1rem;
    padding: 0.5em 1.2em;
    background-color: var(--primary-500);
    color: white;    
    border: 1px solid var(--border-color);
    font-weight: bold;
    transition: backround-color 0.2s ease;
}

.form-buttons button:hover {
    background-color: var(--primary-700);
}
