:root {
    --bg-color-primary: #ffffff;
    --color-header: #484F56;   
}

table{
    background-color:var(--bg-color-primary) ;
    margin: 1rem;
    border-collapse: collapse;
    width: 100%;
}

table, tr {
    border: 1px solid #ddd;
}

th {
    color: var(--color-header);
    padding: 0.8rem ;
    text-align: left;
}

tr {
    padding: 10px;
}

.table-wrapper{
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
}

/* Table Actions */
.table-actions {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
}

.table-actions-left,
.table-actions-right {
  display: flex;
  gap: 10px;
}

.table-action-default{
    display: flex;
    gap:10px;
}

.action-btn {
  padding: 5px 10px;
  cursor: pointer;
}

/* TableHeader */
.table-header {
    background-color: #f0f0f0;
    font-weight: bold;
}

.table-row {
    border-bottom: 1px solid #ddd;
    cursor: pointer;
}

.sub-row {
    background-color: #fafafa;
}

.align-left {
    text-align: left;
}

.align-center {
    text-align: center;
}

.align-right {
    text-align: right;
}



/* TableFooter */
.table-footer {
    background-color: #f9f9f9;
    font-weight: bold;
}


/* Pagination */
.table-pagination {
    margin: 16px 0;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 10px;
}


.table-pagination-btn {
  padding: 6px 12px;
  border: 1px solid #ccc;
  background: var(--primary-700);
  color: white;
  border-radius: 4px;
  font-weight: 600;
}

.table-pagination-btn:hover {
  background-color: var(--primary-800);
  color: white;
  cursor: pointer;
}

.table-pagination-btn:disabled {
  background-color:#fff;
  cursor: not-allowed;
  color: var(--color-text);
}

.next-btn{
  margin-left: 1rem;
}

.prev-btn{
  margin-right: 1rem;
}

.page-no {
  margin: 0 2px;
  background-color: transparent;
  color: #484F56;
}