@import url(./variables.css);

.modal-form-group {
  display: grid;
  grid-template-columns: 100px 1fr;
  gap: 12px 16px;
  align-items: start;
}

.modal-form-group label {
  display: contents; 
  font-size: 16px;
  color: #333;
  font-weight: bold;
}

.modal-form-group input,
.modal-form-group textarea {
  width: 100%;
  padding: 8px 10px;
  border: 1px solid var(--form-border-default, #ccc);
  border-radius: 6px;
  font-size: 14px;
  resize: vertical;
  outline: none;
  transition: border-color 0.2s ease;
  width: 400px;
}

.modal-form-group input:focus,
.modal-form-group textarea:focus {
  border-color: var(--primary-700);
}
