@import url(./variables.css);

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  font-size: 16px;
  height: 100%;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: var(--background-primary);
}


.page-utils-buttons{
  display: flex;
  gap: 1rem;
}

.button {
  background: var(--primary-700);
  color: var(--bg-default);
  border: none;
  padding: 8px 18px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
  transition: background 0.2s ease;
}

.button:hover {
    background: var(--primary-800);
}

.button-sec {
  border: 1px solid var(--primary-700);
  background: var(--bg-default);
  color: var(--primary-800);
  font-weight: 600;
  border-radius: 4px;
  padding: 6px 6px;
  cursor: pointer;
  transition: all 0.2s ease;
  margin-right: 0.5rem;
}

.button-sec:hover {
  background: var(--primary-50);
  color: var(--primary-700);
}




/* Hide scrollbars but keep scrolling */
::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}
