
@import "./variables.css";

html,
body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  background-color: var(--secondary-100);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
  line-height: 1.6;
  box-sizing: border-box;
  font-size: 16px;
}

main {
  padding: 1rem 1.5rem;
  max-width: 700px;
  margin: 0 auto;
}



section, .page-wrapper {
  margin: auto;
  padding: 1.5rem;
  transition: background-color 0.3s ease, box-shadow 0.2s ease;
  border: 1px solid var(--border-color);
}



nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--secondary-200);
  color: var(--text-color);
  padding: 1rem 1.5rem;
  position: sticky;
  border-bottom: var(--border-color);
  top: 0;
  z-index: 10;
}

nav > div {
  display: flex;
  align-items: center;
}

nav a {
  color: var(--text-color);
  text-decoration: none;
  margin-right: 1.2rem;
  font-weight: 500;
  transition: color 0.2s ease;
}

nav a:hover {
  color: var(--primary-100);
}

.logo {
  height: 42px;
}


