@import url(./variables.css);

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: var(--background-primary);
}


.home-page{
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background: var(--primary-50);
}


.home-page ul{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    text-decoration: none;
    list-style: none;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}




/* Hide scrollbars but keep scrolling */
::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}
