@import url(./variables.css);

.body-wrapper {
    display: grid;
    grid-template-areas:
        "header header "
        "aside main "
        "footer footer"  ;
    grid-template-columns: 70px 1fr;
    grid-template-rows: 70px 1fr 70px;
    height: 100vh;
}

header {
    grid-area: header;
    background-color: var(--background-primary-700);   
}
.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.logo {
    display: flex;
    align-items: center;
    gap: 2rem;
    color: white;
}

.logo {
    font-weight: 400;
}

.logo > h2 {
    display: inline-block;
    padding: 2px;
    background-color: var(--background-primary-50);
    color: var(--text-blue);
}

.icon-search{
    display: flex;
    gap: 0.8rem;
}

aside {
    grid-area: aside;
    background-color: var(--background-primary-700);   
}
main {
    grid-area: main;

}

footer {
    grid-area:footer;
    background-color: var(--background-primary-200);   
}