/* toolbar  */
.ql-toolbar {
  background: #fff;
  border-radius: 0px;
  padding: 6px;
}

/* Style all toolbar buttons */
.ql-toolbar button {
  border: none;
  background: transparent;
  width: 32px;
  height: 32px;
  margin: 2px;
  border-radius: 6px;
  transition: all 0.2s ease;
}

/* Hover & active states */
.ql-toolbar button:hover {
  background: #f2f2f2;
}
.ql-toolbar button.ql-active {
  background: #e0f0ff;
  color: #0077cc;
}

/* make bold button icon larger */
.ql-toolbar .ql-bold svg {
  width: 20px;
  height: 20px;
}


/* Editor container */
.ql-container {
    background-color: white;
  border: 1px solid #ddd;
  border-radius: 0 0 3px 3px;
  font-family: "Inter", sans-serif;
}

/* Editable area */
.ql-editor {
  min-height: 200px;
  padding: 12px 16px;
  font-size: 14px;
  line-height: 1.6;
  color: #222;
}

/* Placeholder text */
.ql-editor.ql-blank::before {
  color: #888;
  font-style: italic;
}





/* <div class="ql-container ql-snow">
  <div class="ql-editor" contenteditable="true">
    <!-- user content goes here -->
  </div>
</div> */
