:root{
    --bg-color-primary: #ffffff ;
    --color-header: #484F56;   
}

table{
    background-color:var(--bg-color-primary) ;
    margin: 1rem;
    border-collapse: collapse;
    width: 100%;
}

table, tr {
    border: 1px solid #ddd;
}

th {
    color: var(--color-header);
}



/* Pagination */
.pagination {
  margin: 2rem;
  display: flex;
  justify-content: end;
  align-items: center;
}


.pagination-btn {
  padding: 6px 12px;
  border: 1px solid #ccc;
  background: var(--primary-700);
  color: white;
  border-radius: 4px;
}

.pagination-btn:hover {
  background-color: var(--primary-800);
  color: white;
}

.pagination-btn:disabled {
  background-color:#fff;
  cursor: not-allowed;
  color: var(--color-text);
}

.next-btn{
  margin-left: 1rem;
}

.prev-btn{
  margin-right: 1rem;
}

.page-no {
  margin: 0 2px;
  background-color: transparent;
  color: #484F56;
}