:root{
    --bg-color-primary: #ffffff ;
    --color-header: #484F56;   
}

table{
    background-color:var(--bg-color-primary) ;
    margin: 1rem;
    border-collapse: collapse;
    width: 100%;
}

table, tr, th, td {
    border: 1px solid #ddd;
}

th {
    color: var(--color-header);
}

