:root {
    --bg-default: #ffffff; 
    --bg-secondary: #E0E9EB;

    --form-bg-default: #ffff;
    --form-bg-focus: #fff5d1;
    --form-bg-error: #ffcccb;
    --form-bg-valid: #d9ffd9;
    
    --form-border-default: #ccc;
    --form-border-focus: #4cb9d3;
    --form-border-valid: #35dc3d;
    --form-border-error: #FD7E14;
}

.tiptap-wrapper {
  border: 1px solid #ccc;
  border-radius: 6px;
}

.tiptap-toolbar {
  display: flex;
  gap: 4px;
  border-bottom: 1px solid #ccc;
  padding: 0.8rem 1rem;
  background: var(--bg-default);
}

.tiptap-toolbar > div {
  display: flex;
  flex-direction: row;
}


.tiptap-toolbar button {
  background: transparent;
  cursor: pointer;
  padding: 4px 6px;
  font-weight: bold;
  border: 1px solid #ccc;
}


.tiptap-toolbar button:first-child {
  border: 1px solid #ccc;
  border-radius: 5px 0 0 5px;
}

.tiptap-toolbar button:last-child {
  border: 1px solid #ccc;
  border-radius: 0 5px  5px 0;
}

.tiptap-editor {
  min-height: 150px;
  padding: 0.5rem 2rem;
  outline: none;
  font-size: 14px;
  line-height: 1.5;
  background: var(--bg-default);
}


.tiptap-editor h1 { font-size: 2rem; font-weight: bold; }
.tiptap-editor h2 { font-size: 1.75rem; font-weight: bold; }
.tiptap-editor h3 { font-size: 1.5rem; font-weight: bold; }
.tiptap-editor h4 { font-size: 1.25rem; font-weight: bold; }
