@import url(./variables.css);

.page-container {
    background-color: var(--bg-color-primary);
}

.s-page-container {
    display: flex;
    flex-direction: row;
    padding: 40px;
    background-color: var(--bg-color-primary);
    width: 100%;
    height: inherit;
    margin: 0 auto;
    box-shadow: none;
}

.s-page-avatar {
    flex: 0 0 200px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background: var(--bg-default);

}

.s-page-avatar img {
    width: 200px;
    height: 200px;
    border: 1px solid #ccc;
    object-fit: cover;
}

.s-page-details {
    flex: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 15px;
    column-gap: 20px;
    background: var(--bg-default);
    padding: 30px;
    min-height: 70vh;
        border: 1px solid var(--primary-100);    

}

.s-page-details p {
    margin: 0;
    font-size: 1rem;
    color: #333;
}

.s-page-details strong {
    color: var(--primary-600);
    font-weight: 600;
}

.s-page-title {
    grid-column: span 2;
    font-size: 1.8rem;
    font-weight: bold;
    color: var(--primary-700);
}

.s-page-loading,
.s-page-error,
.s-page-empty {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    text-align: center;
    font-size: 1.2rem;
    margin-top: 20px;
    height: 50vh;
}

.s-page-error {
    color: red;
}

/* Responsive */
@media (max-width: 768px) {
    .s-page-container {
        flex-direction: column;
        padding: 20px;
    }

    .s-page-avatar {
        margin-bottom: 20px;
    }

    .s-page-details {
        grid-template-columns: 1fr;
        padding: 20px;
    }

    .s-page-title {
        font-size: 1.5rem;
    }
}



.s-page-details dl {
    display: grid;
    grid-template-columns: 1fr 2fr;
    row-gap: 15px;
    column-gap: 20px;
}

.s-page-details dt {
    font-weight: 600;
    color: var(--primary-600);
}

.s-page-details dd {
    margin: 0;
    color: #333;
}
